<html ng-app="myApp">
<head>
<meta charset="utf-8" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="print" href="print.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="logik.js"></script>
<link rel="stylesheet" href="styles.css">
<h1> Berichtsheft</h1>
</head>
<body ng-controller="MainCtrl">
    <div class="container-fluid" ng-app="">
		<div class="row margin-top-xl">
			<div class="left-data-block col-xs-12 col-md-7 margin-bottom-xl margin-top-md greyblock">
				<label for="fullname">Name: </label>
				<input ng-model="fullname" class="input" name="fullname" id="fullname" type="text"" ng-hide="myValue"/>
				<span>{{name}}</span>
				<span id="fullname_print"></span>
				<div class="row margin-top-lg">
					<div class="firma col-xs-12 col-md-6">
						<label for="company_name">Firma:</label>
						
						<div class="col-xs-12">
							<span>{{firma}}</span>
							<textarea ng-hide="myValue" ng-model="company" class="angaben" name="company_name" id="company_name" type="text" rows="4">{{company}}</textarea>
						</div>
					</div>
					<div class="abteilung col-xs-12 col-md-5">
						<label for="field_of_work">Ausbildungsabteilung:</label>
						<div class="col-xs-12">
							<span>{{abteilung}}</span>
							<textarea ng-hide="myValue" ng-model="field" class="angaben" name="field_of_work" id="field_of_work" type="text" rows="4"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 buttons row-centered margin-top-md">
						<button ng-hide="myValue" href="#" class="button-add" ng-click= "savePersonal(fullname, company, field)">Eingabe bestätigen</button>
						<button ng-hide="!myValue" class="button-add" ng-click= "myValue=false">Eingabe ändern</button>
					</div>
				</div>
			</div>
			
			<div class="right-data-block col-xs-12 col-md-4 margin-top-md greyblock">
				<div class="col-xs-12 ">
					<label for="ab_nw">Ausbildungsnachweis Nr.</label>
					<span>{{nachweisnr}}</span>
					<input ng-hide="data" ng-model="ab_nw" class="input" name="ab_nw" id="ab_nw" type="number"/>
				</div>
				<div class="col-xs-12 margin-top-md">
					<label for="ab_jahr">Ausbildungsjahr: </label>
					<span>{{jahr}}</span>
					<input ng-hide="data" ng-model="ab_jahr" class="input" name="ab_jahr" id="ab_jahr" type="number"/>
				</div>
				<div class="col-xs-12 margin-top-md">
					<label for="week">Woche: </label>
					<span>{{woche}}</span>
					<input ng-hide="data" ng-model="week" class="input" name="week" id="week" type="number"/>
				</div>
				<div class="col-xs-12 margin-top-md no-padding">
					<div class="col-xs-12 col-md-6">
						<label for="von">Von: </label>
						<span>{{from}}</span>
						<input ng-hide="data" ng-model="ab" class="input" name="ab" id="ab" type="date"/>
					</div>
					<div class="col-xs-12 col-md-6">
						<label for="bis">bis: </label>
						<span>{{till}}</span>
						<input ng-hide="data" ng-model="bis" class="input" name="bis" id="bis" type="date"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 buttons row-centered margin-top-md">
						<button ng-hide="data" href="#" class="button-add" ng-click= "saveFileData(ab_nw, ab_jahr, week, ab, bis)">Eingabe bestätigen</button>
						<button ng-hide="!data" class="button-add" ng-click= "data=false">Eingabe ändern</button>
					</div>
				</div>
				
				
			</div>
			
		</div>
		<div class="row margin-top-md">
			<div class="col-xs-12 greyblock">
				<div class="row margin-top-xl margin-bottom-xxl">
					<div class="col-xs-12">
						<table>
							<tr>
								<th>Betriebliche Tätigkeit (bitte Ausbildungsverlauf mit der zeitlichen und sachlichen Gliederung abgleichen):</th>
								<th><strong>Stunden</strong></th>
							</tr>
							<tr>
								<td>
									<textarea ng-model="btt" class="conten-area" name="btt" id="btt" type="text"" ng-hide="content" rows=10"></textarea>
									<span class="t" ng-repeat="taetigkeit in btkcontent track by $index">{{bbt}}</span>
									<span id="btt_print"></span>
								</td>
								<td>
									<textarea class="conten-area" rows=10"></textarea>
								</td>
							</tr>
						</table>
						
					</div>
				</div>
				<div class="row margin-top-xl">
					<div class="col-xs-12">
						<table>
							<tr>
								<th>Beschreibung eines Arbeitsvorganges dieser Woche:</th>
								<th><strong>Stunden</strong></th>
							</tr>
							<tr>
								<td>
									<textarea class="conten-area" rows=10"></textarea>
								</td>
								<td>
									<textarea class="conten-area" rows=10"></textarea>
								</td>
							</tr>
						</table>
						
					</div>
				</div>
				<div class="row margin-top-xl">
					<div class="col-xs-12">
						<table>
							<tr>
								<th>Berufsschule (Themen des Unterrichts):</th>
								<th><strong>Stunden</strong></th>
							</tr>
							<td>
									<textarea class="conten-area" rows=10"></textarea>
								</td>
								<td>
									<textarea class="conten-area" rows=10"></textarea>
								</td>
						</table>
					</div>
				</div>
			</div>
			<div class="row margin-top-md hidden">
				<div class="col-xs-12 greyblock">
					<div class="row signature-box margin-top-xl">
						<div class="col-xs-2">
							<div class="richtigkeit">
							<span>Für die Richtigkeit</span>
							</div>
						</div>
						<div class="col-xs-5 signatures">
							<div class="col-xs-6">
								<hr>
								<span>Datum</span>
							</div>
							<div class="col-xs-6">
								<hr>
								<span>Auszubildender</span>
							</div>
						</div>
						<div class="col-xs-5 signatures">
							<div class="col-xs-6">
								<hr>
								<span>Datum</span>
							</div>
							<div class="col-xs-6">
								<hr>
								<span>Ausbilder</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row margin-top-xl row-centered">
				<div class="col-xs-12 buttons">
					<button class="button-add" ng-click= "saveFileData(bbt, ab_jahr, week, ab, bis)" ng-hide="content" href="#">Speichern</button>
					<button class="button-add">Drucken</button>
				</div>
			</div>
		</div>
	</div>
</body>    
</html>