body{
    width: 21cm;
}

h1{
    padding: 0px;
    background-color: #FCDF8A;
    text-align: center;
    margin: 0px;
}

.left-data-block{
    width: 65%;
    float: left;
}

.right-data-block{
    width: 35%;
    float:right;
}


label{
    font-size: 12px;
}

.buttons{
    display: none;
}

.greyblock{
    border: 0px solid;
    padding: 0px;
}

.abteilung{
    width: 45%;
}

.firma{
    width: 45%;
}